{{#with clube}}
<h1>Detalhe do clube {{nome}}</h1>

<ul>
    <li>ID Clube:  {{id}}</li>
    <li>Nome Clube: {{nome}}</li>
    <li>Status Clube: {{status}}</li>
    <li>Criado em: {{createdAt}}</li>
    <li>Última atualização: {{updatedAt}}</li>
</ul>
{{/with}}